<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Generated Keys</title>
        @include()
    </head>
    <body>
    @nav()
        <div class="container" id="container">
            <div class="jumbotron">
                <h2> Registration Successful</h2>
                <p><a class="btn btn-primary btn-lg" href="@routes.Assets.versioned("keys/pub_key")" role="button">Download Our Public Key</a></p>
                <p><a class="btn btn-primary btn-lg" href="@routes.Assets.versioned("keys/prv_key")" role="button">Download Your Attribute Key</a></p>
            </div>
        </div>
    </body>
</html>
